[submodule "SBJson"]
	path = SBJson
	url = git://github.com/stig/json-framework.git
[submodule "IdealCocoa"]
	path = IdealCocoa
	url = git://github.com/youknowone/IdealCocoa.git
[submodule "JSONKit"]
	path = JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "gen_icon"]
	path = gen_icon
	url = git://gist.github.com/3800241.git
[submodule "osxbuildtool"]
	path = osxbuildtool
	url = git://github.com/youknowone/osxbuildtool.git
